// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$accent-color: #FFBED7;
$accent-color2: #C87092;
$gray1: #D7D6D6;
$gray2: #BEBBBB;
$gray3: #494949;
$black: rgba(0,0,0,.5);
$body-color: #ffffff;

