// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif');

// Variables
@import 'variables';

// importado manualmente da doc do Multiselect 
//https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css
@import 'multiselect.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $body-color;
  min-height: 100vh;
  color: #1c1c1c;
}

.titulo{
  font-family: 'IBM Plex Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 94px;
  letter-spacing: 2px;
  color: $accent-color2;
}

.titulo-cadastro{
  font-family: 'IBM Plex Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 94px;
  letter-spacing: 2px;
  color: #ffffff;
}


.alinhar-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $gray3;
}

.input-de-texto {
  border-radius: 0px;  
  border: 1.05027px solid #494949;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.form-control:focus {
  border-color: #1c1c1c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.primary-button {
  background-color: #fff;
  color: $accent-color;
  border: 0.5px solid $accent-color2;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  padding: 5px 0px !important;
  text-align: center;
  width: 200px;
  text-align: center;
  text-decoration: none;  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 0px;
}

.primary-link {
  text-decoration: none;
  color: $accent-color2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.primary-link:hover {
  text-decoration: none;
  color: $accent-color2;
}

.button:focus  {
	outline: none;
}

.accent-color2{
  color: $accent-color2;
}

.accent-color2-bold{
  text-decoration: none;
  color: $accent-color2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.text-color {
  color: $gray3;
}

nav.paginathor {
  display: flex;
  align-items: center;
  width: 100%;
}

button.page-link {
	display: inline-block;
}
button.page-link {
    background: #fff;
    border: 1.05315px solid $gray1;
    padding: 10px 12px;
    cursor: pointer;
    color: $gray3;
    box-sizing: border-box;
    box-shadow: 0px 4.21261px 4.21261px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.plat-image {
  width: 200px;
  height: 200px;
}

.ck-btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .kck {      
      label {
        width: 55px;
        margin-right: 5px;
        text-align: center;
        background: #fff;
        border: 1.05315px solid $gray1;
        padding: 10px 12px;
        cursor: pointer;
        color: $gray3;
        box-sizing: border-box;
        box-shadow: 0px 4.21261px 4.21261px rgba(0, 0, 0, 0.25);
        transition: box-shadow 400ms ease;
        
        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
          // background-color: $accent-color;
        }
      }
      
      input[type="checkbox"] {
        display: none;
      }
      
      input[type="checkbox"]:checked+label {
        // background: linear-gradient(90deg, rgb(67, 187, 246) 0%, rgba(80,185,207,1) 100%);
        background-color: $accent-color;
        transition: all 0.2s ease-in-out;
      }
    }
  }

input[type="file"] {
    display: none;
  }
  .custom-file-upload {
      background-color: rgb(0, 166, 243);
      color: #fff;
      border: 1px solid #1c1c1c;
      border-radius: 6px;
      padding: 6px 12px;
      cursor: pointer;
  }

//mobile Style
@media screen and (max-width: 900px) {
  .titulo-cadastro{
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: #ffffff;
    top: 0;
  }

  .titulo{
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: $accent-color2;
  }

  .plat-image {
    width: 95%;
    height: 100%;
    margin-top: 25%;
  }

  .primary-button {

    width: 150px;
    display: inline;

  }

  .subtitulo {

    font-size: 16px;
    line-height: 10px;
  }
  
  
}