<template>
    <div>

        <register-header :headerTitle="'Cadastre as abelhas'"></register-header>  

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <span class="subtitulo">Cadastre as abelhas </span>
                </div>
                <div class="col-12 col-md-8 mx-auto mb-5">
                    <form @submit="formSubmit">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="Nameson">Nome</label>
                                <input v-model="bee.name" type="text" class="form-control input-de-texto" id="Nameson" placeholder="Qual o nome da abelha" :maxlength="200" autocomplete="off">
                                <br>
                                <label for="species">Espécie</label>
                                <input v-model="bee.species" type="text" class="form-control input-de-texto" id="species" placeholder="Qual a espécie ou nome científico" :maxlength="200" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12 text-right">   
                                <router-link to="/">
                                    <button class="primary-button">cancelar</button>
                                </router-link>
                                
                                <button class="primary-button ml-3" type="submit">cadastrar</button>
                            </div>                           
                        </div>                
                        
                    </form>                
                </div>
            </div>
        </div>
        
        <register-bottom></register-bottom>

    </div>
</template>

<script>
    export default {
        data() {
            return {        
                bee: {
                    name: '',
                    species: '',
                },
            }
        },
        methods: {
            formSubmit(e){
                
                e.preventDefault();

                let that = this;
                
                axios.post('/api/create-bee', {
                    bee: this.bee,
                })
                .then(function (response) {

                    if (response.status != 200) {                           
                        return new Error("Something went wrong");
                    }  

                    if(!response.data.status){
                       return alert("Erro ao cadastrar");
                    }

                    that.$router.push('/');

                })
                .catch(function (error) {
                    alert(error);
                });
            },
            
        },
    }
</script>
