<template>
    <div>     
        <register-header :headerTitle="'Cadastre flores'"></register-header>       

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto py-2">
                    <span class="subtitulo">Cadastre as flores de acordo com o mês em que ela floresce</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto mb-5">
                    <form @submit="formSubmit">
                        <div class="form-row">
                            <div class="form-group col-8 pt-3">
                                <label for="Nameson">Nome</label>
                                <input v-model="plant.name" type="text" class="form-control input-de-texto" id="Nameson" placeholder="Qual o nome da flor" :maxlength="200" autocomplete="off">
                                <br>
                                <label for="species">Espécie</label>
                                <input v-model="plant.species" type="text" class="form-control input-de-texto" id="species" placeholder="Qual a espécie ou nome científico" :maxlength="200" autocomplete="off">
                            </div>
                            
                            <div class="form-group col-4">
                                <plant-image></plant-image>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="description">Descrição</label>
                                <input v-model="plant.description" type="text" class="form-control input-de-texto" id="species" placeholder="Escreva uma breve descrição sobre a flor" :maxlength="200" autocomplete="off">
                            </div>                    
                        </div>

                        <div class="form-row">
                            <div class="col-12 my-4">
                                <div class="ck-btn-group">
                                    <div class="kck" v-for="(month, index) in filterdMonths" :key="index">

                                        <input v-model="selectedMonts" type="checkbox" :value="month.id" :id="'click_me'+month.id" :name="'month[]'">

                                        <label :for="'click_me'+month.id"> <i class="fas fa-check"></i> {{ subSttinga(month.name) }} </label>

                                    </div>
                                </div>
                            </div>         
                        </div>
                        <div class="form-row">
                            <div class="col-12 mb-5">            
                                <div style="width: 100%">
                                    <label class="typo__label">Selecione as abelhas que polinizam essas flores</label>
                                    <multiselect 
                                        v-model="selectedBees" 
                                        :height="300"
                                        :options="filterdBees" 
                                        :multiple="true" 
                                        :taggable="true"
                                        :close-on-select="true" 
                                        :clear-on-select="false" 
                                        :preserve-search="false" 
                                        tag-placeholder="Adicionar" 
                                        placeholder="Pesquisar ou selecionar tag"
                                        @input="addTag"
                                        label="name" 
                                        track-by="name" :preselect-first="false"
                                        selectedLabel="Selecionado"
                                        selectLabel="Selecionar"
                                        deselectLabel="Remover"
                                    >

                                    </multiselect>
                                </div>            
                            </div>           
                        </div>

                        <div class="form-row">
                            <div class="col-12 text-right">   
                                <router-link to="/">
                                    <button class="primary-button">cancelar</button>
                                </router-link>
                                
                                <button class="primary-button ml-4" type="submit">cadastrar</button>
                            </div>                           
                        </div>                    
                        
                    </form>                
                </div>
            </div>
        </div>

        <register-bottom></register-bottom>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {        
                plant: {
                    name: '',
                    species: '',
                    description: '',
                },
                selectedMonts: [],
                selectedBees: [],  
            }
        },
        created() {
            this.$store.dispatch("getBees");    
        },
        methods: {

            formSubmit(e){
                
                e.preventDefault();

                if(this.$store.state.plant_image.data == ''){
                    alert("selecione uma Imagem");
                    return;
                }

                let that = this;
                
                axios.post('/api/create-plant', {
                    plant: this.plant,
                    selectedMonts: this.selectedMonts,
                    selectedBees: this.selectedBees.map(sb => sb.id)
                })
                .then(function (response) {      
                    
                    if (response.status != 200 || !response.data.status) {   
                        
                        alert("Erro ao cadastrar");
                        
                        return new Error("Something went wrong");
                    }                    

                    that.saveImage(response.data.plant.id)
                    .then(data => {
                        
                        that.$router.push('/')

                        that.$store.dispatch("setImage", { src: '/image/image-upload.png', data: ''});

                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        console.log("created");
                    });                
                    
                })
                .catch(function (error) {
                    alert(error);
                });
            },
            saveImage(plant_id){

                const config = {
                    headers: { "content-type": "multipart/form-data" },
                };

                const data = new FormData();

                data.append('image', this.$store.state.plant_image.data);

                const json = JSON.stringify({
                    plant_id: plant_id
                });

                data.append('data', json);

                return axios.post("/api/create-image", data, config)
                .then(response => {

                    if (response.status != 200 && !response.data.status) {
                        return new Error("Something went wrong");
                    }

                    return response.data;

                })
                .catch(function(error) {
                    return new Error("Something went wrong");
                });

            },
            subSttinga(str) {

                let digitsNumber = str.toString().length;

                var res = str.substring(0, 3);

                return res;
            },
            addTag(newTag) {
                             
            },
            
        },
        computed: {
            filterdMonths: function(){
                return this.$store.state.months;
            },          
            filterdBees: function(){
                return this.$store.state.bees;
            },    
        },
    }
</script>
