
<template>
    <div class="text-center">
        
        <!-- Bom, eu achei melhor usar uma imgem padrão do que importar todo Font Awesome. -->

        <label for="file-upload">
            <img id="blah" :src="imageSrc" class="rounded-circle plat-image"/>
            <br>
            <span>{{imageText}}</span>
        </label>
        <br>
        
        <input id="file-upload" type="file" name="image" accept="image/jpeg, image/jpg, image/png" v-on:change="onImageChange" ref="fileupload"/>
    </div>
</template>
<script>
export default {
  data() {
    return {
      image: this.$store.state.plant_image,
      imageText: 'ESCOLHA UMA IMAGEM'
    };
  },
  methods: {
    onImageChange(e) {
      this.image.data = e.target.files[0];

      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);

      reader.onload = (e) => {
        this.image.src = e.target.result;
      };

      this.image.update = 1;

      this.syncdata();

      this.imageText = 'Click para alterar'
    },
    syncdata: function() {
        this.$store.dispatch("setImage", this.image);
    },

  },
  computed: {
    imageSrc () {
      return this.$store.state.plant_image.src
    }
  },
  watch:{
      imageSrc() {
        this.$refs.fileupload.value = null;
      }
  }
};
</script>
