<template>
    <div class="bg-img">
    <!-- <div class="container-fluid bg-dark p-0"> -->

        <!-- <img src="/image/header.jpg" alt="" style="width: 100%; padding: 0; margin: 0"> -->
        
        <h1 class="titulo-cadastro">{{headerTitle}}</h1>
        
    </div>
</template>

<style scoped>

.bg-img{
    background-image: url('/image/header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .bg-img{
        min-height: 250px;
        background-position: top center;
        background-size: cover;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}

</style>

<script>
    export default {
        props: {
            headerTitle: {
                type: [String],
            },
        },
        data() {
            return {    
            }
        },
    }
</script>
