<template>
    <div class="bg-img">
          <br>
          <br>
          <br>
          <br>
          <br>
    </div>
</template>

<style scoped>

.bg-img{
  background-image: url('/image/flor-direita.svg'), url('/image/flor-esquerda.svg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, 200px;
  height: 350px;
  bottom: 0;
}

</style>