<template>
    <div class="container-fluid">
            <div class="row">
                <div v-if="isMobile()" class="col-12">
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn" :class=" opemMenu ? 'change' : ''"  @click="opemMenu = !opemMenu">
                            <div class="container">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                            </div>
                        </button>
                        <div class="dropdown-content text-center" v-if="opemMenu">
                            <router-link to="planta-cadastro">
                                <span class="primary-link">Cadastrar flor</span>
                            </router-link>
                            <router-link to="abelha-cadastro">
                                <span class="primary-link">Cadastrar abelha</span>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 mx-auto my-3">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h1 class="titulo">Calendário de flores</h1>
                        </div>
                        <div  v-if="!isMobile()" class="col-12 mx-auto col-md-4 pt-3 text-center">
                            <router-link to="planta-cadastro">
                                <button class="primary-button mb-2">Cadastrar flor</button>
                            </router-link>
                            <router-link to="abelha-cadastro">
                                <button class="primary-button">Cadastrar abelha</button>
                            </router-link>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <span class="text-color">Neste calendário encontram-se diversas flores. Podem ser agupada pelos meses que florescem e o pelo tipo de abelha que poliniza a flor.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<style scoped>

.dropbtn {
  background-color: #fff;
  color:#C87092;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #C87092;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

</style>

<script>
export default {
    data() {
            return {        
                opemMenu: false
            }
        },
    methods: {
        isMobile() {
            if (screen.width <= 900) {
                return true;
            } else {
                return false;
            }
        },
    },
}
</script>