<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto my-2">
                <div style="width: 100%">
                    <label class="typo__label">Selecionar abelhotas</label>
                    <multiselect 
                        v-model="selectedBees" 
                        :height="300"
                        :options="filterdBees" 
                        :multiple="true" 
                        :taggable="true"
                        :close-on-select="true" 
                        :clear-on-select="false" 
                        :preserve-search="false" 
                        tag-placeholder="Adicionar" 
                        placeholder="Pesquisar ou selecionar tag"
                        @input="addTag"
                        label="name" 
                        track-by="name" :preselect-first="false"
                        selectedLabel="Selecionado"
                        selectLabel="Selecionar"
                        deselectLabel="Remover"
                        :limitText="fun => 'Somente uma abelha por vez'"
                        :max="1"
                    >
                    </multiselect>
                </div>            
            </div>
            <div class="col-12 col-md-10 mx-auto">
                <span>
                    Escolha os meses
                </span>

                <div class="ck-btn-group mt-2 mx-auto">
                    <div class="kck" v-for="(month, index) in filterdMonths" :key="index">

                        <input v-model="selectedMonts" type="checkbox" :value="month.id" :id="'click_me'+month.id" :name="'month[]'">

                        <label :for="'click_me'+month.id"> <i class="fas fa-check"></i> {{ subSttinga(month.name) }} </label>

                    </div>
                </div>
            </div>    
            <!-- Anteriormente eu fiz com div e com btns mas acho q o mais correto é usar um checkbox -->

            <!-- <div v-for="(month, index) in filterdMonths" :key="index" class="border border-secondary p-2 m-2 text-center" :class="[toggleStyle(month.id) ? 'active' : '']" @click="toggleMonth(month.id)">
                {{ subSttinga(month.name) }}
            </div> -->
            <!-- <button v-for="(month, index) in filterdMonths" :key="index" class="btn p-2 m-2" :class="[toggleStyle(month.id) ? 'btn-dark' : 'btn-outline-dark']" @click="toggleMonth(month.id)">
                {{ subSttinga(month.name) }}
            </button> -->       

        </div>        
    </div>
</template>

<script>
    export default {
        data() {
            return {        
                selectedMonts: this.$store.state.selectedMonths,
                selectedBees: this.$store.state.selectedBees,               
            }
        },
        methods: {
            syncMonthData(){
                this.$store.dispatch("setMonthData", this.selectedMonts);
            },
            syncBeeData(){

                let extractIds = this.selectedBees.map(sb => sb.id);

                this.$store.dispatch("setBeeData", extractIds);
            },
            subSttinga(str) {
                let digitsNumber = str.toString().length;
                var res = str.substring(0, 3);
                return res;
            },
            addTag(newTag) {
                             
            },
        },
        computed: {
            filterdMonths: function(){
                return this.$store.state.months;
            },
            filterdBees: function(){
                return this.$store.state.bees;
            },            
        },
        watch: {
            selectedMonts: function() {
                this.syncMonthData();
            },
            selectedBees: {
                handler: function(val) {
                    this.syncBeeData();
                },
                deep: true
            }
        },
    }
</script>
