<template>
    <div>
        
        <app-header></app-header>
        
        <div v-if="loading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto my-3">
                        Carregando...
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <filters></filters>
            <plant-list></plant-list>            
        </div>
        
    </div>
</template>


<script>
    export default {
        data() {
            return {        
                opemMenu: false
            }
        },
        created() {
            this.initAssets();
        },
        methods: {
            initAssets: function(){
                this.$store.dispatch("getPlants").then(() => {                    
                    this.$store.dispatch("getMonths");
                    this.$store.dispatch("getBees");                    
                });
            },
            
        },
        computed: {
            loading: function(){

                if(this.$store.state.resources.plants == 1){
                    return false;
                }
                return true;
            }
        }
    }
</script>
