<template>
    <div class="container">

        <div class="col-12 col-md-10 mx-auto my-3">
            <div class="row" v-if="displayedPlants.length > 0">
                <div v-for="(plant, index) in displayedPlants" :key="index" class="col-3 text-center my-2" style="word-break: break-all;" @click="OpemModal(plant)">
                    <img :src="plant.src" class="img-fluid rounded-circle my-2">
                    <strong class="text-color">{{ plant.name }}</strong>
                </div>
            </div>
            <div v-else class="row">
                <div class="col-12 text-center py-3">
                    <h2>Nenhuma Flor encontrada !</h2>
                </div>
            </div>
            <div class="row my-5 text-center" v-if="filterdPlants.length > 12">
                <nav aria-label="Page navigation" class="paginathor">
                    <ul class="pagination mx-auto">
                        <li class="page-item">
                            <button type="button" class="page-link"  @click="Previous()"> &lt; </button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link" v-for="(index, pageNumber) in pages" @click="page = pageNumber + 1" :key="index"> {{pageNumber + 1}} </button>
                        </li>
                        <li class="page-item">
                            <button type="button" @click="Next()" :disabled="page > pages.length" class="page-link"> &gt; </button>
                        </li>
                    </ul>
                </nav>	
            </div>            
        </div> 

        <!-- Modal -->
        <div class="modal fade" id="plantModal" tabindex="-1" role="dialog" aria-labelledby="plantModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <plant-view :CurrentModalPlant="CurrentModalPlant"></plant-view>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {        
                plants: this.$store.state.plants,
                CurrentModalPlant: [],
                page: 1,
                perPage: 12,
                pages: [],		
            }
        },
        created() {
            console.log("logloglog");
            this.setPages(this.filterdPlants);
        },
        methods: {
            OpemModal(plant){
                this.CurrentModalPlant = plant;
                $('#plantModal').modal('toggle');
            },
            Previous(){
                if(this.page > 1){
                    this.page--;
                }               
            },
            Next(){
                if(this.page < this.pages.length){
                    this.page++;
                }                
            },
            setPages (posts) {
                this.pages = [];
                let numberOfPages = Math.ceil(posts.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
                }
            },
            paginate (posts) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return  posts.slice(from, to);
            },

        },
        computed: {
            displayedPlants () {
                return this.paginate(this.filterdPlants);
            },
            filterdPlants: function(){

                let todos = [];

                if(this.$store.state.selectedMonths.length < 1 && this.$store.state.selectedBees.length < 1){
                    return this.$store.state.plants;
                }

                this.$store.state.plants.forEach(plant => {

                    if(this.$store.state.selectedBees.length > 0 && this.$store.state.selectedMonths.length < 1 && plant.bees.some(pm => this.$store.state.selectedBees.includes(pm))){
                        todos.push(plant);
                        return;
                    }

                    if(this.$store.state.selectedBees.length > 0 && this.$store.state.selectedMonths.length > 0){                        
                        if( plant.months.some(pm => this.$store.state.selectedMonths.includes(pm)) && plant.bees.some(pm => this.$store.state.selectedBees.includes(pm))){
                            todos.push(plant);
                            return;
                        }
                    }

                    if(this.$store.state.selectedBees.length < 1 && this.$store.state.selectedMonths.length > 0 && plant.months.some(pm => this.$store.state.selectedMonths.includes(pm))){
                        todos.push(plant);
                        return;
                    }
                    
                });

                return todos;

            },
            
        },
        watch: {
            filterdPlants (val) {
                this.setPages(val);
            }
        },
        // filters: {
        //     trimWords(value){
        //         return value.split(" ").splice(0,20).join(" ") + '...';
        //     }
        // }
    }
</script>
