<template>
    <div class="modal-content">
        <div class="modal-header bg-img" :style="'background-image: url(' + plant.src + ');'">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <strong class="accent-color2 accent-color2-bold">{{plant.name}}</strong>
                <p class="text-color">{{ plant.description }}</p>

                <strong class="accent-color2 accent-color2-bold">Abelhas</strong>
                <p class="text-color" v-for="(item, index) in plantBees" :key="index">
                    {{ item.name }}
                </p>
            </div>
            <div class="text-right">
                <a type="button" class="primary-link" data-dismiss="modal">Ver mais</a>
            </div>
        </div>
    </div>
</template>

<style scoped>

.bg-img{
  /* background-image: url('https://s3-alpha-sig.figma.com/img/693e/78e4/4c48f388887481a7cef5218c7cd332c8?Expires=1607904000&Signature=Qtuc70NzA0dujdfUpbn9EmmVKJn3n6H845C14b7kCwwkS-4F4Vv9h5NzMQEHCwaIXufbRfFPMflDtJ-~FP3-~e8LJXPxDrpm9839zsdn5J2M31zzBDgvj9DdaFR4bvAKAlIo9r4K2rgP7qANAbINcw0gyFLFzbgm2g6r92onlv4j4kYHfFgB8zI5XcMG9znMCNsCVuTfteXZEirLNnFmQWAl4N7kp8GvcUZ9NDrMk9HYGVjBYeOVSoattW8RAEQV2w9w3eBcch52DNeF72IwbyepaeU5BfPwuRg1EihHMxATa41w1oNLMxv8IxqDYwzlUFCcASfFRJQTJ8d6X176ug__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 200px;
}

</style>

<script>
    export default {
        props: {
            CurrentModalPlant: {
                type: [Array, Object],
            },
        },
        data() {
            return {
                plant: []
            }
        },
        methods: {
            syncData: function(){
                this.plant = this.CurrentModalPlant;
            }
        },
        watch: {
            CurrentModalPlant: {
                handler: function() {
                    this.syncData();
                },
                deep: true
            },
        },
        computed: {
            plantBees: function (){
                if(this.plant.bees){
                    return this.$store.state.bees.filter(bee => {
                    
                        return this.plant.bees.some(bee_id => bee_id == bee.id);

                    });
                }                
            }
        },
        
        
    }
</script>
